{% extends "layout.html" %}

{% block body %}


<div class="row">
    <div class="col-lg-12">
        <h2>Bordered Table</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover" style="white-space: nowrap;" id="data-table">
                <thead>
                    <tr>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>111111111111</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>/index.html</td>
                        <td>1265</td>
                        <td>32.3%</td>
                        <td>$321.33</td>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Vi33333333333333333sits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                    </tr>
                    <tr>
                        <td>/about.html</td>
                        <td>261</td>
                        <td>33.3%</td>
                        <td>$234.12</td>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% 444444444444444444New Visits</th>
                        <th>Revenue</th>
                    </tr>
                    <tr>
                        <td>/sales.html</td>
                        <td>665</td>
                        <td>21.3%</td>
                        <td>$16.34</td>
                        <th>Page</th>
                        <th>V4444444444444444isits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                    </tr>
                    <tr>
                        <td>/blo44444444444444444444g.html</td>
                        <td>9516</td>
                        <td>89.3%</td>
                        <td>$1644.43</td>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% N44444444ew Visits</th>
                        <th>Revenue</th>
                    </tr>
                    <tr>
                        <td>/404.html</td>
                        <td>23</td>
                        <td>34.3%</td>
                        <td>$23.52</td>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Pag444444444444444e</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                    </tr>
                    <tr>
                        <td>/services.html</td>
                        <td>421</td>
                        <td>60.3%</td>
                        <td>$724.32</td>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% N444444444444ew Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                    </tr>
                    <tr>
                        <td>/blog/post.html</td>
                        <td>1233</td>
                        <td>93.2%</td>
                        <td>$126.34</td>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% Ne4444444444444444w Visits</th>
                        <th>Revenue</th>
                    </tr>
                    <tr>
                        <td>/blog/post.html</td>
                        <td>1233</td>
                        <td>93.2%</td>
                        <td>$126.34</td>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% Ne4444444444444444w Visits</th>
                        <th>Revenue</th>
                    </tr>
                    <tr>
                        <td>/blog/post.html</td>
                        <td>1233</td>
                        <td>93.2%</td>
                        <td>$126.34</td>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% Ne4444444444444444w Visits</th>
                        <th>Revenue</th>
                    </tr>
                    <tr>
                        <td>/blog/post.html</td>
                        <td>1233</td>
                        <td>93.2%</td>
                        <td>$126.34</td>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% Ne4444444444444444w Visits</th>
                        <th>Revenue</th>
                    </tr>
                    <tr>
                        <td>/blog/post.html</td>
                        <td>1233</td>
                        <td>93.2%</td>
                        <td>$126.34</td>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% Ne4444444444444444w Visits</th>
                        <th>Revenue</th>
                    </tr>
                    <tr>
                        <td>/blog/post.html</td>
                        <td>1233</td>
                        <td>93.2%</td>
                        <td>$126.34</td>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% Ne4444444444444444w Visits</th>
                        <th>Revenue</th>
                    </tr>
                    <tr>
                        <td>/blog/post.html</td>
                        <td>1233</td>
                        <td>93.2%</td>
                        <td>$126.34</td>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% Ne4444444444444444w Visits</th>
                        <th>Revenue</th>
                    </tr>
                    <tr>
                        <td>/blog/post.html</td>
                        <td>1233</td>
                        <td>93.2%</td>
                        <td>$126.34</td>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% Ne4444444444444444w Visits</th>
                        <th>Revenue</th>
                    </tr>
                    <tr>
                        <td>/blog/post.html</td>
                        <td>1233</td>
                        <td>93.2%</td>
                        <td>$126.34</td>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% Ne4444444444444444w Visits</th>
                        <th>Revenue</th>
                    </tr>
                    <tr>
                        <td>/blog/post.html</td>
                        <td>1233</td>
                        <td>93.2%</td>
                        <td>$126.34</td>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% Ne4444444444444444w Visits</th>
                        <th>Revenue</th>
                    </tr>

                    <tr>
                        <td>/blog/post.html</td>
                        <td>1233</td>
                        <td>93.2%</td>
                        <td>$126.34</td>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% Ne4444444444444444w Visits</th>
                        <th>Revenue</th>
                    </tr>
                    <tr>
                        <td>/blog/post.html</td>
                        <td>1233</td>
                        <td>93.2%</td>
                        <td>$126.34</td>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% Ne4444444444444444w Visits</th>
                        <th>Revenue</th>
                    </tr>
                    <tr>
                        <td>/blog/post.html</td>
                        <td>1233</td>
                        <td>93.2%</td>
                        <td>$126.34</td>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% Ne4444444444444444w Visits</th>
                        <th>Revenue</th>
                    </tr>
                    <tr>
                        <td>/blog/post.html</td>
                        <td>1233</td>
                        <td>93.2%</td>
                        <td>$126.34</td>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% New Visits</th>
                        <th>Revenue</th>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>% Ne4444444444444444w Visits</th>
                        <th>Revenue</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>  
</div>
<script>

// $(document).ready(function() {
//     $('#data-table').DataTable({
//         'dom': '<"float_left"f>r<"float_right"l>tip',
//         'language': {
//             'emptyTable': '没有数据',
//             'loadingRecords': '加载中...',
//             'processing': '查询中...',
//             'search': '检索:',
//             'lengthMenu': '每页 _MENU_ 条',
//             'zeroRecords': '没有数据',
//             'paginate': {
//                 'first': '第一页',
//                 'last': '最后一页',
//                 'next': '下一页',
//                 'previous': '上一页'
//             },
//             'info': '第 _PAGE_ 页 / 总 _PAGES_ 页',
//             'infoEmpty': '没有数据',
//             'infoFiltered': '(过滤总件数 _MAX_ 条)'
//         },
//         'scrollCollapse': true,
//         'scrollY': true,
//         'scrollX': true,
//         'scrollXInner': "150%"
//     });
// });

$(document).ready(function() {
    $('#data-table').DataTable({
        // 固定Datatables功能键
        'scrollCollapse': true,
        'scrollY': true,
        'scrollX': true,
        'scrollXInner': "150%"
})
})
</script>
{% endblock %}

