{% extends "layout.html" %}

{% block body %}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <form role="form" style="float:right;">
            <div class="form-group" >

                <input type="file">
            </div>
            <button type="submit" class="btn btn-primary btn-xs">上传</button>
            <button type="reset" class="btn btn-warning btn-xs">重置</button>
            <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">取消</button>
        </form>
      </div>


    </div>
  </div>
</div>

<div id="add-user-Modal" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">新增用户</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline animated bounceInLeft" id="user-form" action='/vm-user/add' method='POST'>

          <div class="form-group" style="margin-top:5px">
            <label for="username" class="add_user_form_wid">用户名</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="Joke">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="password" class="add_user_form_wid">密码</label>
            <input type="text" name="password" class="form-control" id="password" placeholder="admin123!@#">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="role" class="add_user_form_wid">角色</label>
            <input type="text" name="role" class="form-control" id="role" placeholder="administrator">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="role" class="add_user_form_wid">邮箱</label>
            <input type="text" name="role" class="form-control" id="role" placeholder="joke@cdb.com.cn">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary btn-xs add-user-btn">保存并添加</button>
      </div>
    </div>
  </div>
</div>



<div class="row">
    
    <div class="col-lg-12">

    <div class="row">
        <div class="col-lg-4">
            <div class="panel text-left">
                <div class="panel-body">
                    <button type="button" class="btn btn-xs btn-primary text-left" data-toggle="modal" data-target="#add-user-Modal">添加用户</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel text-center">
                <div class="panel-body">
                    <!-- <p style="font-size:25px;color:black;font-weight:bold">用户管理</p> -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="pane text-right">
                <div class="panel-body">
                    <!-- <button type="button" class="btn btn-xs btn-primary text-left">新建用户</button> -->
                    <button type="button" class="btn btn-xs btn-primary text-right">导出</button>
                    <button type="button" class="btn btn-xs btn-primary text-right" data-toggle="modal" data-target="#myModal">导入</button>
                </div>
            </div>
        </div>
    </div>

        

        <div class="table-responsive">
            <table class="table table-bordered table-hover" style="white-space: nowrap;" id="data-table">
                <thead>
                    <tr>
                        <th>USE</th>
                        <th>用户名</th>
                        <th>密码</th>
                        <th>角色</th>
                        <th>邮箱</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>joke</td>
                        <td>12345678</td>
                        <td>admin</td>
                        <td>admin@cdb.com.cn</td>
                        <td>xxxxxxxxxxxxxxxxxx</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>joke</td>
                        <td>12345678</td>
                        <td>admin</td>
                        <td>admin@cdb.com.cn</td>
                        <td>xxxxxxxxxxxxxxxxxx</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>joke</td>
                        <td>12345678</td>
                        <td>admin</td>
                        <td>admin@cdb.com.cn</td>
                        <td>xxxxxxxxxxxxxxxxxx</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>joke</td>
                        <td>12345678</td>
                        <td>admin</td>
                        <td>admin@cdb.com.cn</td>
                        <td>xxxxxxxxxxxxxxxxxx</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>joke</td>
                        <td>12345678</td>
                        <td>admin</td>
                        <td>admin@cdb.com.cn</td>
                        <td>xxxxxxxxxxxxxxxxxx</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>joke</td>
                        <td>12345678</td>
                        <td>admin</td>
                        <td>admin@cdb.com.cn</td>
                        <td>xxxxxxxxxxxxxxxxxx</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>joke</td>
                        <td>12345678</td>
                        <td>admin</td>
                        <td>admin@cdb.com.cn</td>
                        <td>xxxxxxxxxxxxxxxxxx</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>joke</td>
                        <td>12345678</td>
                        <td>admin</td>
                        <td>admin@cdb.com.cn</td>
                        <td>xxxxxxxxxxxxxxxxxx</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>joke</td>
                        <td>12345678</td>
                        <td>admin</td>
                        <td>admin@cdb.com.cn</td>
                        <td>xxxxxxxxxxxxxxxxxx</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>joke</td>
                        <td>12345678</td>
                        <td>admin</td>
                        <td>admin@cdb.com.cn</td>
                        <td>xxxxxxxxxxxxxxxxxx</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>joke</td>
                        <td>12345678</td>
                        <td>admin</td>
                        <td>admin@cdb.com.cn</td>
                        <td>xxxxxxxxxxxxxxxxxx</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>joke</td>
                        <td>12345678</td>
                        <td>admin</td>
                        <td>admin@cdb.com.cn</td>
                        <td>xxxxxxxxxxxxxxxxxx</td>
                    </tr>
                    

                </tbody>
            </table>
        </div>
    </div>  
</div>



<script>

// $(document).ready(function() {
//     $('#data-table').DataTable({
//         'dom': '<"float_left"f>r<"float_right"l>tip',
//         'language': {
//             'emptyTable': '没有数据',
//             'loadingRecords': '加载中...',
//             'processing': '查询中...',
//             'search': '检索:',
//             'lengthMenu': '每页 _MENU_ 条',
//             'zeroRecords': '没有数据',
//             'paginate': {
//                 'first': '第一页',
//                 'last': '最后一页',
//                 'next': '下一页',
//                 'previous': '上一页'
//             },
//             'info': '第 _PAGE_ 页 / 总 _PAGES_ 页',
//             'infoEmpty': '没有数据',
//             'infoFiltered': '(过滤总件数 _MAX_ 条)'
//         },
//         'scrollCollapse': true,
//         'scrollY': true,
//         'scrollX': true,
//         'scrollXInner': "150%"
//     });
// });


$(document).ready(function() {
    $('#data-table').DataTable({
        'scrollCollapse': true,
        'scrollY': true,
        'scrollX': true,
        'scrollXInner': "150%"
})
})
</script>
{% endblock %}

